<a href="https://colab.research.google.com/github/ruhullahil/gcolab/blob/master/DMlab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', header=None)
data.columns = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin','Normal Nucleoli', 'Mitoses','Class']
data = data.drop(['Sample code'],axis=1)
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Number of instances = 699
Number of attributes = 10

   Clump Thickness  Uniformity of Cell Size  ...  Mitoses  Class
0                5                        1  ...        1      2
1                5                        4  ...        1      2
2                3                        1  ...        1      2
3                6                        8  ...        1      2
4                4                        1  ...        1      2

[5 rows x 10 columns]

In [0]:
import numpy as np
data = data.replace('?',np.NaN)
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
print('Number of missing values:')
for col in data.columns:
 print('\t%s: %d' % (col,data[col].isna().sum()))

Number of instances = 699
Number of attributes = 10
Number of missing values:
	Clump Thickness: 0
	Uniformity of Cell Size: 0
	Uniformity of Cell Shape: 0
	Marginal Adhesion: 0
	Single Epithelial Cell Size: 0
	Bare Nuclei: 16
	Bland Chromatin: 0
	Normal Nucleoli: 0
	Mitoses: 0
	Class: 0

In [0]:
 data2 = data['Bare Nuclei']
print('Before replacing missing values:')
print(data2[20:25])
data2 = data2.fillna(data2.median())
print('\nAfter replacing missing values:')
print(data2[20:25])

In [0]:
print('Number of rows in original data = %d' % (data.shape[0]))
data2 = data.dropna()
print('Number of rows after discarding missing values = %d' % (data2.shape[0]))

In [0]:
%matplotlib inline
data2 = data.drop(['Class'],axis=1)
data2['Bare Nuclei'] = pd.to_numeric(data2['Bare Nuclei'])
data2.boxplot(figsize=(20,3))

In [0]:
Z = (data2-data2.mean())/data2.std()
Z[20:25]

In [0]:
print('Number of rows before discarding outliers = %d' % (Z.shape[0]))
Z2 = Z.loc[((Z > -3).sum(axis=1)==9) & ((Z <= 3).sum(axis=1)==9),:]
print('Number of rows after discarding missing values = %d' % (Z2.shape[0]))

In [0]:
dups = data.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))
data.loc[[11,28]]

In [0]:
print('Number of rows before discarding duplicates = %d' % (data.shape[0]))
data2 = data.drop_duplicates()
print('Number of rows after discarding duplicates = %d' % (data2.shape[0]))

Sampling

In [0]:
data.head()

In [0]:
sample = data.sample(n=3)
sample

In [0]:
sample = data.sample(frac=0.01, random_state=1)
sample

In [0]:
sample = data.sample(frac=0.01, replace=True, random_state=1)
sample

Principal Component Analysis

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
numImages = 16
fig = plt.figure(figsize=(7,7))
imgData = np.zeros(shape=(numImages,36963))
for i in range(1,numImages+1):
filename = 'pics/Picture'+str(i)+'.jpg'
img = mpimg.imread(filename)
ax = fig.add_subplot(4,4,i)
plt.imshow(img)
plt.axis('off')
ax.set_title(str(i))
imgData[i-1] = np.array(img.flatten()).reshape(1,img.shape[0]*img.shape[1]
*img.shape[2])

cancer

In [0]:
# Creating the DataFrame 
df = pd.DataFrame({ 'Age':['10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-99'], 
                    'Tumor_size':['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44'], 
                    'Inv_nodes':['0-2', '3-5', '6-8', '9-11', '12-14', '15-17','18-20', '21-23', '24-26']}) 
  
# Print the dataframe 
print(df) 

print('Covariance:')
df.cov()

In [0]:
import numpy as np
data = cancerData.replace('?',np.NaN)
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
print('Number of missing values:')
for col in data.columns:
  print('\t%s: %d' % (col,data[col].isna().sum()))